<div *ngFor="let product of productDetails" style="float:left;">
    <div class="container" style="margin-left: 60px;margin-top: 20px;">
      <div class="row">
        <div class="col col-3 col-sm-6 col-md-3">
          <div class="card" style="width: 18rem; margin:20px;">
            <img [src]="product.img" class="prodimage">
            <div class="card-body">
              <h1 style="font-size: larger;color:rgb(9, 9, 143);">{{product.pname}}</h1>
              {{product.price | currency:'INR'}}
              <div class="card-text" [ngSwitch]="product.status">
                <div *ngSwitchCase="'Instock'">
                  <p class="text-success">Status : {{product.status}}</p>
                  <button (click)="addToCart(product)" class="btn btn-danger">Add to Cart</button>
                  <br>
                  <br><input type="number" name="quantity" [(ngModel)]="quantity" style="width:50px;border-radius:10px;" min="1" max="25">
                  Quantity: 
                  <br>
                  <br>
              </div>
              <p *ngSwitchCase="'Out of Stock'" class="text-danger">Status : {{product
                .status}}</p>
                </div>
               
                <a href="#" class="btn btn-warning">Buy</a>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>

