<div *ngFor="let product of productDetails" style="float:left;">
  <div class="container" style="margin-left: 60px;margin-top: 20px;">
    <div class="row">
      <div class="col col-3 col-sm-6 col-md-3">
        <div class="card" style="width: 18rem; margin:20px;">
          <img [src]="product.image" class="prodimage">
          <div class="card-body">
            <h1 style="font-size: larger;color:rgb(9, 9, 143);">{{product.pname}}</h1>
            {{product.price | currency:'INR'}}
              <br>
              <app-counter></app-counter>
              <br>
              <a href="#" class="btn btn-warning">Buy</a>
              
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>


