<div class="text">
  <marquee behavior="scroll" direction="left" scrollamount="15" style="color:brown;font-weight: bold;font-size: 25px;font-style: calc();background-color: bisque;">Never before Offers</marquee>
    
</div>

<div class="banner-container">

    <div class="banner">
        <div class="shoe">
            <img src="https://cdn.igp.com/f_auto,q_auto,t_pnopt12prodlp/products/p-golden-gala-blooms-152713-m.jpg" alt="">
        </div>
        <div class="content">
            <span>upto</span>
            <h3>50% 0ff</h3>
            <p>offer ends after 5 days</p>
            <a href="choco" class="btn">veiw offer</a>
        </div>
        <div class="women">
            <img src="https://cdn.igp.com/f_auto,q_auto,t_pnopt12prodlp/products/p-flavoured-dry-fruits-and-baklava-in-gift-box-146074-m.jpg" alt="">
        </div>
    </div>

</div>


